.total-price {
    composes: item-price from '../ingredient-item/ingredient-item.module.css';
    padding-top: 14px;
    padding-bottom: 14px;
    align-items: center;
}

.burger-constructor {
    display: flex;
    flex-direction: column;
}

.ingredients {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, minmax(min-content, max-content));
    grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
    row-gap: 16px;
    overflow-y: scroll;
    height: 60vh;
}

.summary {
    display: grid;
    column-gap: 40px;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    justify-content: flex-end;
}