.modal {
    position: relative;
    background-color: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    border-radius: 40px;
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
    width: 700px;
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 64px;
    width: 100%;
    text-align: left;
}

.title-text {
    margin: 0;
}

.close-icon {
    position: absolute;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    top: 60px;
    right: 40px;
}