.item {
    display: grid;
    width: 536px;
    max-height: 80px;
    box-sizing: border-box;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(1, minmax(min-content, max-content));
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background: #1C1C21;
}

.item_active_false {
    border-radius: 40px 40px 88px 88px;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item-name {
    margin: 0;
}

.item-image {
    width: 80px;
    height: 40px;
}